---
Title: TFS & Azure DevOps
Description: Support for Team Foundation Server and Azure DevOps.
---
<p>
    Support for Team Foundation Server (TFS) and Azure DevOps is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.PullRequests.Tfs" target="_blank">Cake.Issues.PullRequests.Tfs addin</a>.
</p>

@Html.Partial("_ChildPages")