---
Title: TFS & VSTS
Description: Support for Team Foundation Server and Visual Studio Team Services.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for Team Foundation Server (TFS) and Visual Studio Team Services (VSTS) is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.PullRequests.Tfs" target="_blank">Cake.Issues.PullRequests.Tfs addin</a>.
</p>

@Html.Partial("_ChildPages")