---
Title: Examples
Description: Examples for using the Cake.Issues.PullRequests.AzureDevOps addin.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<div class="alert alert-info">
There's a <a href="https://dev.azure.com/pberger/Cake.Issues-Demo" target="_blank">demo repository</a>
available which you can fork and to which you can create pull requests to test the integration functionality.
</div>

@Html.Partial("_ChildPages")