---
Title: Azure DevOps
Description: Support for Azure DevOps.
---
<p>
    Support for Azure DevOps is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.PullRequests.AzureDevOps" target="_blank">Cake.Issues.PullRequests.AzureDevOps addin</a>.
</p>

@Html.Partial("_ChildPages")